### let the challenge begin

We will ipip install kaggle and since I have already created a kaggle API key, we will use the same %env to use that key. 
Using that key, we are going to download our data.

In [2]:
#
#!pip install kaggle

In [6]:
#environment reference for the kaggle api key
%env KAGGLE_CONFIG_DIR=/home/mishraka/Documents/Manjula/Lambda_School/Assignments/Unit_2/Advanced_Regression_Week3/fma_metadata/FMS_Data_for_Logistic_regression

env: KAGGLE_CONFIG_DIR=/home/mishraka/Documents/Manjula/Lambda_School/Assignments/Unit_2/Advanced_Regression_Week3/fma_metadata/FMS_Data_for_Logistic_regression

In [7]:
#download the data
!kaggle competitions download -c ds1-predictive-modeling-challenge

sample_submission.csv: Skipping, found more recently modified local copy (use --force to force download)
test_features.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
train_labels.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
train_features.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [5]:
import pandas as pd
!unzip train_features.csv.zip

Archive:  train_features.csv.zip
replace train_features.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: ^C

In [3]:
from __future__ import print_function, division
import pandas as pd
pd.set_option('display.max_columns', None)
df_train_features = pd.read_csv('/home/mishraka/Documents/Manjula/Lambda_School/Assignments/Unit_2/kaggle_competition/train_features.csv')
df_train_features.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [4]:
df_train_features.columns

Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group'],
      dtype='object')

In [5]:
df_train_labels = pd.read_csv('/home/mishraka/Documents/Manjula/Lambda_School/Assignments/Unit_2/kaggle_competition/train_labels.csv')

In [8]:
df_train_labels.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [9]:
df_train_labels.columns

Index(['id', 'status_group'], dtype='object')

In [10]:
df_train_features.shape

(59400, 40)

In [11]:
df_train_labels.shape

(59400, 2)

## majority Class Baseline

In [12]:
import numpy as np
majority_class = df_train_labels['status_group'].mode()[0]
#print(majority_class)

y_pred = np.full(shape=df_train_labels['status_group'].shape, fill_value=majority_class)

In [13]:
df_train_labels.status_group.shape, y_pred.shape

((59400,), (59400,))

In [14]:
all(y_pred==majority_class)

True

In [15]:
from sklearn.metrics import accuracy_score 
accuracy_score(df_train_labels['status_group'], y_pred)

0.543080808080808

In [16]:
submission_df = pd.DataFrame(y_pred, columns=['status_group_pred'])

In [17]:
submission_df.head()

  status_group_pred
0        functional
1        functional
2        functional
3        functional
4        functional

In [19]:
submission_baseline = pd.concat([df_train_labels, submission_df], axis=1)

In [20]:
submission_baseline.head()

      id    status_group status_group_pred
0  69572      functional        functional
1   8776      functional        functional
2  34310      functional        functional
3  67743  non functional        functional
4  19728      functional        functional

In [21]:
submission_baseline = submission_baseline.drop(columns='status_group')

In [22]:
submission_baseline.head()

      id status_group_pred
0  69572        functional
1   8776        functional
2  34310        functional
3  67743        functional
4  19728        functional

In [24]:
submission_baseline.to_csv('/home/mishraka/Documents/Manjula/Lambda_School/Assignments/Unit_2/kaggle_competition/submission_baseline.csv')

### Class imbalance

In [23]:
df_train_labels['status_group'].value_counts()

functional                 32259
non functional             22824
functional needs repair     4317
Name: status_group, dtype: int64

In [24]:
df_train_labels['status_group'].value_counts(normalize=True)

functional                 0.543081
non functional             0.384242
functional needs repair    0.072677
Name: status_group, dtype: float64

In [25]:
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
from sklearn.metrics import accuracy_score, classification_report
from sklearn.linear_model import LogisticRegression
from mlxtend.plotting import plot_decision_regions


#let's import the warning before running any sophisticated methods
import warnings
from sklearn.exceptions import DataConversionWarning
warnings.filterwarnings(action='ignore', category=DataConversionWarning)

In [26]:
import warnings
from sklearn.exceptions import DataConversionWarning
warnings.filterwarnings(action='ignore', category=DataConversionWarning)

#### How about printing our classification report

In [27]:
print(classification_report(df_train_labels['status_group'], y_pred) )

/home/mishraka/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

                         precision    recall  f1-score   support

             functional       0.54      1.00      0.70     32259
functional needs repair       0.00      0.00      0.00      4317
         non functional       0.00      0.00      0.00     22824

              micro avg       0.54      0.54      0.54     59400
              macro avg       0.18      0.33      0.23     59400
           weighted avg       0.29      0.54      0.38     59400

Looking at the above report, it's a pretty bad prediction and recall.

In [147]:
!kaggle competitions submit -c ds1-predictive-modeling-challenge -f /home/mishraka/Documents/Manjula/Lambda_School/Assignments/Unit_2/kaggle_competition/submission_baseline.csv -m "testing submission command"

100%|███████████████████████████████████████| 1.28M/1.28M [00:02<00:00, 512kB/s]
Successfully submitted to DS1 Predictive Modeling Challenge

### Let's consider running a logistic regression only with numeric values

In [28]:
pd.set_option('display.max_columns', None)
df_train_features.head(5)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [29]:
df_train_features.shape

(59400, 40)

## Let's check the Test file

In [30]:
#import pdandas as pd
df_test_features = pd.read_csv('/home/mishraka/Documents/Manjula/Lambda_School/Assignments/Unit_2/kaggle_competition/test_features.csv')

In [31]:
df_test_features.shape

(14358, 40)

In [32]:
df_train_features.columns

Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group'],
      dtype='object')

### merge Train and test sets
it's the same formula, just don't mention axis=1
The last row of our df_train_features dataset is 59394

In [33]:
#Let's merge train and test
full_df = pd.concat([df_train_features, df_test_features])

In [34]:
full_df.shape

(73758, 40)

In [35]:
59400 + 14358

73758

In [36]:
full_df.columns

Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group'],
      dtype='object')

In [37]:
#let's drop the columns with 28k nans 
full_df = full_df.drop(columns='scheme_name')

i'll take care of the misisng values in other columns now

In [38]:
#data['Native Country'] = data['Native Country'].fillna(data['Native Country'].mode()[0])
full_df['funder'] = full_df['funder'].fillna(full_df['funder'].mode()[0])

In [39]:
full_df['installer'] = full_df['installer'].fillna(full_df['installer'].mode()[0])

In [40]:
full_df['subvillage'] = full_df['subvillage'].fillna(full_df['subvillage'].mode()[0])

In [41]:
full_df['public_meeting'] = full_df['public_meeting'].fillna(full_df['public_meeting'].mode()[0])

In [42]:
full_df['scheme_management'] = full_df['scheme_management'].fillna(full_df['scheme_management'].mode()[0])

In [43]:
full_df['permit'] = full_df['permit'].fillna(full_df['permit'].mode()[0])

In [44]:
full_df.isna().sum()

id                       0
amount_tsh               0
date_recorded            0
funder                   0
gps_height               0
installer                0
longitude                0
latitude                 0
wpt_name                 0
num_private              0
basin                    0
subvillage               0
region                   0
region_code              0
district_code            0
lga                      0
ward                     0
population               0
public_meeting           0
recorded_by              0
scheme_management        0
permit                   0
construction_year        0
extraction_type          0
extraction_type_group    0
extraction_type_class    0
management               0
management_group         0
payment                  0
payment_type             0
water_quality            0
quality_group            0
quantity                 0
quantity_group           0
source                   0
source_type              0
source_class             0
waterpoint_type          0
waterpoint_type_group    0
dtype: int64

### Let's split the dataset into train and test again (retaining the orginal train/test split)

In [45]:
#split the data back
X_cleaned = full_df[:-14358]
X_test_cleaned = full_df[-14358:]
y = df_train_labels['status_group']

In [46]:
X_cleaned.shape, X_test_cleaned.shape, y.shape

((59400, 39), (14358, 39), (59400,))

In [47]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_cleaned, y, test_size=0.25, random_state=42, shuffle=True)

In [48]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((44550, 39), (14850, 39), (44550,), (14850,))

In [103]:
X_train.head()

,amount_tsh,basin,construction_year,date_recorded,district_code,extraction_type,extraction_type_class,extraction_type_group,funder,gps_height,id,installer,latitude,lga,longitude,management,management_group,num_private,payment,payment_type,permit,population,public_meeting,quality_group,quantity,quantity_group,recorded_by,region,region_code,scheme_management,source,source_class,source_type,subvillage,ward,water_quality,waterpoint_type,waterpoint_type_group,wpt_name
24947,20.0,Wami / Ruvu,1972,2011-03-08,1,ksb,submersible,submersible,Government Of Tanzania,330,33935,Ce,-6.087137e+00,Bagamoyo,38.123839,vwc,user-group,0,pay per bucket,per bucket,True,80,True,salty,insufficient,insufficient,GeoData Consultants Ltd,Pwani,6,VWC,machine dbh,groundwater,borehole,Kilangawageni,Mbwewe,salty,communal standpipe,communal standpipe,Ccm
22630,0.0,Lake Victoria,0,2013-02-16,1,nira/tanira,handpump,nira/tanira,Dwsp,0,49654,DWE,-2.000000e-08,Magu,0.000000,wug,user-group,0,unknown,unknown,False,0,True,good,enough,enough,GeoData Consultants Ltd,Mwanza,17,WUG,shallow well,groundwater,shallow well,Mwamahala,Nkungulu,soft,hand pump,hand pump,Mwamahonza
13789,0.0,Lake Victoria,0,2011-08-13,4,india mark ii,handpump,india mark ii,Dasip,0,39287,DASIP,-2.814100e+00,Kwimba,33.312321,vwc,user-group,0,never pay,never pay,True,0,True,good,enough,enough,GeoData Consultants Ltd,Mwanza,19,VWC,machine dbh,groundwater,borehole,Chanongu,Wala,soft,hand pump,hand pump,Chanongu
15697,0.0,Internal,2010,2013-01-20,4,gravity,gravity,gravity,Government Of Tanzania,1542,60510,GOVERNMENT,-4.842093e+00,Singida Urban,34.783049,wua,user-group,0,never pay,never pay,True,23,True,good,seasonal,seasonal,GeoData Consultants Ltd,Singida,13,WUA,rainwater harvesting,surface,rainwater harvesting,Mungumaji,Mungumaji,soft,communal standpipe,communal standpipe,Zahanati
22613,0.0,Lake Nyasa,2013,2013-09-03,3,gravity,gravity,gravity,World Bank,523,24259,Government,-1.070733e+01,Mbinga,34.660944,vwc,user-group,0,unknown,unknown,True,1,True,good,dry,dry,GeoData Consultants Ltd,Ruvuma,10,VWC,spring,groundwater,spring,Tumba,Mbaha,soft,communal standpipe,communal standpipe,Kwa Mzee Charles

In [49]:
y_train.head()

24947    non functional
22630        functional
13789        functional
15697        functional
22613    non functional
Name: status_group, dtype: object

Let's try another baseline with only numeric features

In [50]:
X_train.dtypes

id                         int64
amount_tsh               float64
date_recorded             object
funder                    object
gps_height                 int64
installer                 object
longitude                float64
latitude                 float64
wpt_name                  object
num_private                int64
basin                     object
subvillage                object
region                    object
region_code                int64
district_code              int64
lga                       object
ward                      object
population                 int64
public_meeting              bool
recorded_by               object
scheme_management         object
permit                      bool
construction_year          int64
extraction_type           object
extraction_type_group     object
extraction_type_class     object
management                object
management_group          object
payment                   object
payment_type              object
water_quality             object
quality_group             object
quantity                  object
quantity_group            object
source                    object
source_type               object
source_class              object
waterpoint_type           object
waterpoint_type_group     object
dtype: object

In [51]:
X_train_numeric = X_train.select_dtypes(np.number)

In [52]:
X_test_numeric = X_test.select_dtypes(np.number)

In [53]:
#let's see how our model does here

from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train_numeric, y_train)
y_pred = model.predict(X_test_numeric)
accuracy_score(y_test, y_pred)

/home/mishraka/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/mishraka/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

0.5547474747474748

In [54]:
X_train_numeric.head()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
24947,33935,20.0,330,38.123839,-6.087137e+00,0,6,1,80,1972
22630,49654,0.0,0,0.000000,-2.000000e-08,0,17,1,0,0
13789,39287,0.0,0,33.312321,-2.814100e+00,0,19,4,0,0
15697,60510,0.0,1542,34.783049,-4.842093e+00,0,13,4,23,2010
22613,24259,0.0,523,34.660944,-1.070733e+01,0,10,3,1,2013

In [55]:
from sklearn.preprocessing import LabelEncoder
def dummyEncode(df):
        columnsToEncode = list(df.select_dtypes(include=['category','object']))
        le = LabelEncoder()
        for feature in columnsToEncode:
            try:
                df[feature] = le.fit_transform(df[feature])
            except:
                print('Error encoding '+feature)
        return df

In [56]:
cat_coded_df = dummyEncode(X_cleaned)

/home/mishraka/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [57]:
cat_coded_df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,47,1369,1390,1518,34.938093,-9.856322,37399,0,1,11807,3,11,5,51,1426,109,True,0,7,False,1999,3,1,0,7,4,2,0,6,2,1,1,8,6,0,1,1
1,8776,0.0,309,469,1399,545,34.698766,-2.147466,37195,0,4,15838,9,20,2,103,1576,280,True,0,2,True,2010,3,1,0,11,4,0,2,6,2,2,2,5,3,1,1,1
2,34310,25.0,300,825,686,2048,37.460664,-3.821329,14572,0,5,9074,8,21,4,108,1624,250,True,0,7,True,2009,3,1,0,7,4,4,5,6,2,1,1,0,1,1,2,1
3,67743,0.0,272,1741,263,1852,38.486161,-11.155298,37285,0,7,8982,12,90,63,87,1571,58,True,0,7,True,1986,14,10,5,7,4,0,2,6,2,0,0,3,0,0,2,1
4,19728,0.0,104,20,0,119,31.130847,-1.825359,35529,0,4,7698,4,18,1,26,1687,0,True,0,7,True,0,3,1,0,1,1,0,2,6,2,3,3,5,3,1,1,1

In [58]:
X_cleaned = dummyEncode(X_test_cleaned)

/home/mishraka/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [59]:
X_cleaned.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,50785,0.0,255,174,1996,214,35.290799,-4.059696,633,0,0,3807,8,21,3,62,16,321,True,0,2,True,2012,9,6,3,3,2,0,2,6,2,3,3,5,3,1,6,5
1,51630,0.0,255,247,1569,219,36.656709,-3.309214,1727,0,5,2634,0,2,2,0,642,300,True,0,6,True,2000,3,1,0,7,4,0,2,6,2,2,2,8,6,0,1,1
2,17168,0.0,252,247,1567,219,34.767863,-5.004344,9483,0,0,5271,18,13,2,108,1659,500,True,0,6,True,2010,9,6,3,7,4,0,2,6,2,2,2,5,3,1,6,5
3,45559,0.0,242,220,267,259,38.058046,-9.418672,5467,0,7,2710,7,80,43,48,1178,250,True,0,6,True,1987,9,6,3,7,4,6,6,6,2,0,0,7,5,0,6,5
4,49871,500.0,306,72,1260,75,35.006123,-10.950412,5573,0,7,3442,16,10,3,60,1061,60,True,0,9,True,2000,3,1,0,9,4,3,1,6,2,1,1,8,6,0,1,1

In [60]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(cat_coded_df, y, test_size=0.25, random_state=42, shuffle=True)

In [63]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='newton-cg', multi_class='multinomial')
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

/home/mishraka/anaconda3/lib/python3.7/site-packages/sklearn/utils/optimize.py:203: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  "number of iterations.", ConvergenceWarning)

In [64]:
accuracy_score(y_test, y_pred)

0.6412121212121212

In [65]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

pipeline = make_pipeline(StandardScaler(), 
                        LogisticRegression(solver='newton-cg', multi_class='multinomial'))

pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)

In [66]:
accuracy_score(y_test, y_pred)

0.6405387205387205

In [67]:
y_pred

array(['non functional', 'non functional', 'functional', ...,
       'functional', 'functional', 'non functional'], dtype=object)

In [68]:
X_test.shape, y_pred.shape

((14850, 39), (14850,))

In [69]:
submission_second_file = pd.DataFrame(X_test.id.values, columns=['id'])

In [70]:
submission_second_file.head()

      id
0  37098
1  14530
2  62607
3  46053
4  47083

In [71]:
submission_second_file.id.values[0:10]

array([37098, 14530, 62607, 46053, 47083, 12465, 12921, 14606,  9417,
       71095])

In [72]:
submission_second_file.isna().sum()

id    0
dtype: int64

In [73]:
df_train_labels.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [74]:
y = pd.DataFrame(y_pred, columns=['status_group'])

In [164]:
y.shape

(14850, 1)

In [180]:
submission_second = pd.concat([submission_second_file, y], axis=1)

In [181]:
submission_second.shape

(14850, 2)

In [187]:
submission_second.to_csv('/home/mishraka/Documents/Manjula/Lambda_School/Assignments/Unit_2/kaggle_competition/submission_second.csv', index=False)

In [191]:
!kaggle competitions submit -c ds1-predictive-modeling-challenge -f /home/mishraka/Documents/Manjula/Lambda_School/Assignments/Unit_2/kaggle_competition/submission_second.csv -m "second submission command"

100%|█████████████████████████████████████████| 262k/262k [00:01<00:00, 175kB/s]
Successfully submitted to DS1 Predictive Modeling Challenge

In [188]:
df = pd.read_csv("/home/mishraka/Documents/Manjula/Lambda_School/Assignments/Unit_2/kaggle_competition/submission_second.csv")

In [190]:
df.head()

      id    status_group
0  37098  non functional
1  14530  non functional
2  62607      functional
3  46053      functional
4  47083      functional